{
    "tabWidth": 4,
    "printWidth": 120,
    "singleAttributePerLine": true,
    "vueIndentScriptAndStyle": false,
    "arrowParens": "avoid",
    "semi": true,
    "singleQuote": true,
    "quoteProps": "preserve"
}
